
<div class="travel-guide-container">
    <div class="travel-guide">
      <h1 class="main-title">GUIA DE VIAGEM</h1>
      <span class="subtitle">Explorando a Maior Reserva Natural do Mundo</span>
      
      <p class="description">
        Dividindo esses desertos, a cadeia de montanhas se ergue como uma espinha dorsal pela paisagem, com picos que tocam o céu e vales que escondem oásis secretos.
      </p>
      
      <div class="date-container">
        <div class="date">28 DE ABRIL, 2025</div>
        <a href="#" class="continue-button">CONTINUAR LEITURA</a>


        <div class="image-gallery">
            <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80" alt="Paisagem montanhosa" class="gallery-image">
            <img src="https://th.bing.com/th/id/R.a54c330cb6fe509eac8865381f7514fd?rik=5i%2ft9FHDi5%2fkkw&pid=ImgRaw&r=0" alt="Resort" class="gallery-image">
            <img src="https://i.pinimg.com/originals/51/97/ff/5197ff450d86130b30917cbf02a60a32.png" alt="Montanhas" class="gallery-image">
            <img src="https://images.alphacoders.com/103/1031883.jpg" alt="Praia" class="gallery-image">
          </div>


      </div>
    </div>
  </div>
